* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#7b4397, #dc2430);
}
.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
}
form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(91, 91, 151);
  margin: 2px;
  border: 1px solid rgb(91, 91, 151);
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
form input[type="button"]:hover {
  background-color: rgb(168, 100, 233);
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: darkgrey;
}
form input.equal {
  width: 124px;
  background-color: rgb(23, 23, 227);
}
form input.functionButton {
  background-color: rgb(23, 23, 227);
}
form input.functionButton:hover {
  background-color: aqua;
}
form input.equal:hover {
  background-color: aqua;
}
